page-alternance {
  background-image: url('../../www/assets/img/background.jpg');
}

ion-content {
	background-image: url('../../www/assets/img/background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}